.footer {
    width: 100%;
    background: #FFD01A;
    padding: 1.5rem 1rem;
    color: white;
  }
  
  .footer h5 {
    margin-bottom: 1rem;
  }
  
  .footer p {
    color: #6b7280; 
  }
  
  .footer .text-gray-500 {
    color: #6b7280;
  }
  
  .footer .border-b {
    border-bottom: 1px solid #242424;
  }
  
  .footer .text-gray-400 {
    color: #9ca3af; 
  }
  
  .footer a {
    text-decoration: none;
    color: inherit;
  }
  
  .footer .flex {
    display: flex;
  }
  
  .footer .justify-between {
    justify-content: space-between;
  }
  
  .footer .gap-x {
    column-gap: 15%;
  }
  
  .footer .pb-6 {
    padding-bottom: 1.5rem;
  }
  
  .footer .lg\\:pb-16 {
    padding-bottom: 4rem;
  }
  
  .footer .flex-col {
    flex-direction: column;
  }
  
  .footer .lg\\:flex-row {
    flex-direction: row;
  }
  
  .footer .gap-y-10 {
    row-gap: 2.5rem;
  }
  
  .footer .gap {
    column-gap: 30%;
  }
  
  .footer .text-sm {
    font-size: 0.875rem;
  }
  
  .footer .lg\\:text-base {
    font-size: 1rem;
  }
  
  .footer .items-center {
    align-items: center;
  }
  
  .footer .text-gray-400 {
    color: #9ca3af; 
  }
  
  .footer .font-medium {
    font-weight: 500;
  }
  
  .footer .lg\\:pt-12 {
    padding-top: 3rem;
  }
  
  .footer .w-8 {
    width: 2rem;
  }
  
  .footer .h-8 {
    height: 2rem;
  }
  
  .footer .lg\\:w-14 {
    width: 3.5rem;
  }
  
  .footer .lg\\:h-14 {
    height: 3.5rem;
  }
  
  .footer .shrink-0 {
    flex-shrink: 0;
  }.footer {
    width: 100%;
    background: #1c1c1c;
    padding: 1.5rem 1rem;
    color: white;
  }
  
  .footer-heading {
    margin-bottom: 1rem;
    color: #eaeef3;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    margin-left: 700px;
  }
  
  .footer-text1{
    color: white;
    margin-left: 350px;
  }


  .footer-text2 {
    color: white;
    margin-left: 450px; 
  }
  
  .footer-contact {
    margin-bottom: 0.5rem;
    color: #eaeef3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-left: 670px;
  }
  
  .footer-phone {
    color: #eaeef3; 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 15%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #242424;
    flex-direction: column;
  }
  
  
  .footer-about {
    flex: 1;
  }
  
  .footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .footer-logo {
    width: 2.5rem;
    height: 2rem;
    margin-bottom: 15px;
    margin-left: 55px;
  }
  
  .footer-company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Playfair Display", serif;
    margin-left: 6px;
  }
  
  .footer-company-name {
    font-size: 1.05rem;
  }
  
  .footer-copyright {
    color: #eaeef3; 
    font-size: 0.875rem;
  }
  
  
  .footer .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .footer .lg\\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .footer .border-r {
    border-right: 1px solid #242424;
  }
  
  .footer .border-l {
    border-left: 1px solid #242424;
  }

  .footer-social {
    display: flex;
    gap: 1.3rem;
    margin-left: 600px;
    align-items: center;
  }
  
  .social-link {
    text-decoration: none;
    color: inherit;
  }
  
  .social-icon {
    width: 2rem;
    height: 2rem;
    font-size: 5px;
  }
  
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .lg\\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .border-r {
    border-right: 1px solid #242424;
  }
  
  .border-l {
    border-left: 1px solid #242424;
  }