.company-section {
    background-color: #f9fbfe;
}

.company-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.company-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.company-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.company-card-image {
    width: 87px;
    height: 90px;
}

.company-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.company-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}